<div id=first><%= t('a') %></div>
<% what = t 'a' %>
I18n.t("this_should_not")
<h2>
  <% # i18n-tasks-use t('activerecord.models.first.one') %>
  <%= First.model_name.human(count: 1) %>
</h2>
<h3>
  <%= t('with_parameter', parameter: "erb is the best") %>
  <%= t 'with_scope', scope: "scope_a.scope_b", default: t(".nested_call") %>

  <% # https://github.com/glebm/i18n-tasks/issues/424 %>
  <%= link_to(edit_foo_path(foo), title: t(".edit")) do %>
    <i class="fa fa-edit icon-fa"></i>
  <% end %>

  <% # https://github.com/glebm/i18n-tasks/issues/426 %>
  <%= render Blacklight::System::ModalComponent.new do |component| %>
    <% component.title { t('blacklight.tools.citation') } %>

    <%= render Blacklight::Document::CitationComponent.with_collection(@documents) if @documents.present? %>
  <% end %>
</h3>
